.img-clientes {
    display: flex;
    justify-content: space-between;
    img {
        height: 200px;
        width: 200px;
        justify-content: center;
    }
}

.text-h1-clientes{
    display: flex;
    justify-content: center;
    padding: 1em 1em;
    color: white;
}