.img-clientes {
    display: flex;
    justify-content: space-between;
    img {
        height: 300px;
        width: 300px;
        justify-content: center;
    }
}

.text-h1-clientes{
    display: flex;
    justify-content: center;
    padding: 2em 2em;
    color: white;
}